html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: white;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    padding-top: 85px;
    padding-bottom: 85px;
}

a {
  text-decoration: none !important;
}

h1, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  padding: 8px;
}

h2 {
  color: rgb(0, 0, 0, 0.5);
  text-align: center;
}

ul {
  margin-bottom: 0px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: black;
}

section {
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;
}

header {
    position: relative;
}

header img {
    height: 80%;
    position: absolute;
    top: 8px;
    left: 8px;
}

label {
    color: black;
    font-size: 1.3em;
    text-align: left;
    width: 100%;
}

form {
    border-radius: 4px;
    margin-left: 24px;
    margin-right: 24px;
}

​input[type=checkbox] {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 2em;
    line-height: 1.1em;
}

select {
  margin-bottom: 8px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  background:#f5f6f2;
  font-family: 'Montserrat', sans-serif;
}

.header-area {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    height: 80px;
    background:rgb(0 47 71);
    -webkit-transition: all .5s ease 0s;
    -moz-transition: all .5s ease 0s;
    -o-transition: all .5s ease 0s;
    transition: all .5s ease 0s;
  }
  
  .header-area {
    min-height: 80px;
    background: rgb(0 47 71);
  }

  .row {
    padding: 8px;
    position: relative;
  }

  .main-selector {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
  }

  .button {
    background-color:#f5841f;
    border-radius: 4px;
    padding: 8px;
    border: none;
    transition: .3s all;
    font-size: 1.5em;
  }

  .button:hover {
    background-color:#f5841f;
    border-radius: 4px;
    padding: 8px;
    transition: .3s all;
    font-size: 1.6em;
  }

  .icon {
    transform: scalex(-1);
    display: inline-block;
  }

  .row-icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: 0.8;
  }

  .active {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .active h2 {
    color: black;
  }

  .active img {
    border: 2px solid black;
    width: 55%;
    opacity: 1;
  }

  .col-md-4 input, select {
    width: 100%;
  }

  .col-md-4, .col-md-8 {
    padding: 24px;
  }

  .subHeading{
    color: black;
    
  }

  .loading{
    background-image : url('http://www.fotos-lienzo.es/media/aw_searchautocomplete/default/loading.gif');  
    background-repeat:no-repeat;
  }
  .loading:after {
      content: "Generating files...";
      text-align : right;
      padding-left : 25px;
  }

  .nav-tabs {
    border-bottom: 1px solid black !important;
  }

 .nav-tabs > li {
     position:relative;
 }
 .nav-tabs > li > a {
     display:inline-block;
     font-weight: bold;
     font-size: larger;
 }

 .nav-tabs > li > a:hover {
  border-bottom-color: black !important;
}

.nav-tabs > li > a:focus {
  border-bottom-color: black !important;
}

 .nav-tabs > li.active > a {
  border-color: black !important;
  border-bottom-color: transparent !important;
}

 .nav-tabs > li > span {
     display:none;
     cursor:pointer;
     position:absolute;
     right: 6px;
     top: 8px;
     color: red;
 }
 .nav-tabs > li:hover > span {
     display: inline-block;
 }

 .tab-content {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
 }


  /* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
    text-align: center;
    background: rgb(43 44 51);
    position:absolute;
    bottom: 0;
    width: 100%;
  }
  /*